<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qixiny.xihuaserver.mapper.HomeWorkMapper">
    <cache/>
    <select id="queryAllHomeWork" resultType="HomeWork">
        select * from homework
    </select>

    <select id="queryHomeWorkById" resultType="HomeWork">
        select * from homework where id = #{id}
    </select>

    <insert id="addHomeWork" parameterType="HomeWork">
        insert into homework (id, name, type,description, endDate, startDate, publisher) VALUES (#{id},#{name},#{type},#{description},#{endDate},#{startDate},#{publisher})
    </insert>

    <update id="updateHomeWork" parameterType="HomeWork">
        update homework set name=#{name},description=#{description},endDate=#{endDate},startDate=#{startDate} where id=#{id}
    </update>

    <delete id="deleteHomeWork" parameterType="HomeWork">
        delete from homework where id = #{id}
    </delete>
</mapper>